<h2>A cerca de la Biblioteca Virtual</h2>

  <img
    src="https://bibliotecavirtualdemexico.cultura.gob.mx/imagenes/ciudadela/VirtualMexico.jpg"
    alt="Libro"
  />
  <div class="contenedor-text">
    <p>
      La Biblioteca Virtual de México tiene la misión de ofrecer un número
      creciente de libros, publicaciones y documentos que forman parte de las
      colecciones de la Biblioteca de México, fundada en 1946 y designada, desde
      1988, biblioteca central de la Red Nacional de Bibliotecas Públicas de
      México. La BVM, a cargo de la Dirección General de Bibliotecas de la
      Secretaría de Cultura, busca facilitar el acceso de toda persona, en
      cualquier punto del país y del extranjero, y en particular a los usuarios
      de las bibliotecas públicas mexicanas, a materiales de inestimable valor
      cultural, histórico y estético producidos en México y relacionados con
      México. La anima, también, el propósito de convertirse en una invitación a
      la lectura de los temas y los principales autores y obras mexicanos,
      mediante una propositiva selección de títulos y una serie de ediciones en
      formato que favorezca el disfrute y las posibilidades propias de la
      lectura digital. A la apreciación de las ediciones históricas y el
      acercamiento a impresos originales que refieren la historia del libro y la
      imprenta en México, quiere sumar las facilidades de lectura que ha traído
      y seguirá trayendo, a esa misma historia, la tecnología digital. La
      Biblioteca Virtual de México contribuye al conocimiento de la historia, la
      identidad y la cultura mexicanas depositado en sus libros, a través de un
      acervo bibliográfico y documental que el tiempo enriquecerá y enlazará con
      otros afines, para acercar cada vez más al lector a la riqueza del
      patrimonio documental de México.
    </p>
  </div>

